<!DOCTYPE html>
<html
    {% if jobdata['background-image'] is defined %}
    style=" background: url('{{URLPREFACE or ""}}/static/images/{{jobdata['background-image']}}') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color: {{jobdata['font-color']|default('#000')}}";
    {% endif %}

>
  <head>
        <title>CHANGEME - {{jobdata['friendly-name']|default(jobdata['portal-endpoint'])}}</title>
        {% if jobdata['javascript-files-head'] is defined and jobdata['javascript-files-head']|length > 0 %}
          {% for item in jobdata['javascript-files-head'] %}
            <script src="{{URLPREFACE or ""}}/static/js/{{item}}"></script>
          {% endfor %}
        {% endif %}
    </head>
    <body>
{% if 'disallow-logs' not in jobdata or not jobdata['disallow-logs'] %}
{% with jobname=jobdata['awx-job-name'] %}
  {% include "header.html" %}
{% endwith %}
{% else %}
  {% include "header.html" %}
{% endif %}
<br><br><br>
<div class="mainbody">
<center>
<div class="likeatable">
<form id="userform" action="{{URLPREFACE or ""}}/runjobawx" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() if csrf_token else '' }}"/>
  <input type="hidden" id="awx-job-name" name="awx-job-name" value="{{jobdata['awx-job-name']}}">
  <strong style='font-size:1.5em'><div class="icon"><img style="max-height:48px;" class='jobicon' src='{{URLPREFACE or ""}}{{ url_for('static', filename='images/icons/') }}{{jobdata['icon']|default('generic.png')}}'></div>{{jobdata['friendly-name']|default(jobdata['portal-endpoint'])}}</strong><br>
  <br>
  <div class="explanation">{{ jobdata['description']|safe }}</div>
  {% for item in jobdata['form-elements'] if "availability" not in item or item["availability"] in ["", "all", AUTOMATE_ENVIRONMENT] %}
     {% if item['type']=='div-begin' %}
     <div id="{{ item['var-name'] }}"
      {% if item['style'] is defined %}
        style="{{ item['style'] }}"
      {% endif %}
      {% if item['class'] is defined %}
        class="{{ item['class'] }}"
      {% endif %}

      >
     {% endif %}
     {% if item['type']=='div-end' %}
     </div>
     {% endif %}
     {% if item['type']=='hr' %}
     <hr>
     {% endif %}
     {% if item['type']=='inline-html' %}
       {{ item['content'] |safe }}
     {% endif %}
     {% set commontypes = ['text','password', 'hidden','url','time','range','color','date','email','file','datetime-local','number','tel','week','month'] %}
     {% if item['type'] in commontypes  %}
   <div class="likeatablerow">
     <div class="likeatableleft">
       {% if item['required'] is defined and item['required']%}
       <b class='required'>(required)</b>
       {% endif %}
       {{ item['friendly-name']|safe }}

   </div>
   <div class="likeatableright">
     <input type="{{ item['type'] }}"
      {% if item['onchange'] is defined %}
        onchange="{{ item['onchange'] }}"
      {% endif %}
      id="extravar{{ item['var-name'] }}"
      name="extravar{{ item['var-name'] }}"
      {% if item['style'] is defined %}
        style="{{ item['style'] }}"
      {% endif %}
      {% if item['max-length'] is defined %}
        maxlength="{{ item['max-length'] }}"
      {% endif %}
      {% if item['size'] is defined %}
        size="{{ item['size'] }}"
      {% endif %}
      {% if item['required'] is defined %}
        required="{{item['required']}}"
      {% endif %}
      {% if item['onpaste'] is defined %}
        onpaste="{{ item['onpaste'] }}"
      {% endif %}
      {% if item['autocomplete'] is defined %}
        autocomplete="{{ item['autocomplete'] }}"
      {% endif %}
      {% if item['autofill'] is defined %}
        autofill="{{ item['autofill'] }}"
      {% endif %}
      {% if item['placeholder'] is defined %}
        placeholder="{{ item['placeholder'] }}"
      {% endif %}
      {% if item['title'] is defined %}
        title="{{ item['title'] }}"
      {% endif %}
      {% if item['pattern'] is defined %}
        pattern="{{ item['pattern'] }}"
      {% endif %}
      {% if item['value'] is defined %}
        {% if item['value']=='ABSPECIALVARIABLEusername_notr1' %}
        value="{{ username|replace('_tr1','') }}"
        {% elif item['value']=='ABSPECIALVARIABLEusername' %}
        value="{{ username }}"
        {% elif requestargs['extravar' ~ item['var-name']] is defined %}
        value="{{ requestargs['extravar' ~ item['var-name']] }}"
        {% else %}
        value="{{ item['value'] }}"
        {% endif %}
      {% endif %}
      {% if requestargs['extravar' ~ item['var-name']] is defined and item['value']!='ABSPECIALVARIABLEusername_notr1' and item['value']!='ABSPECIALVARIABLEusername' %}
        value="{{ requestargs['extravar' ~ item['var-name']] }}"
      {% endif %}
      {% if item['min'] is defined %}
        min="{{ item['min'] }}"
      {% endif %}
      {% if item['max'] is defined %}
        max="{{ item['max'] }}"
      {% endif %}
      {% if item['step'] is defined %}
        step="{{ item['step'] }}"
      {% endif %}
      {% if item['accept'] is defined %}
        accept="{{ item['accept'] }}"
      {% endif %}
      >
     </div>
    </div>
     {% endif %}
     {% if item['type']=='textarea' %}
     <div class="likeatablerow">
       <div class="likeatableleft">
       {% if item['required'] is defined and item['required']%}
       <b class='required'>(required)</b>
       {% endif %}
       {{ item['friendly-name']|safe }}
       </div>
     <div class="likeatableright">
       <textarea
        {% if item['pattern'] is defined %}
          pattern="{{ item['pattern'] }}"
        {% endif %}
        {% if item['onchange'] is defined %}
          onchange="{{ item['onchange'] }}"
        {% endif %}
        id="extravar{{ item['var-name'] }}"
        name="extravar{{ item['var-name'] }}"
        rows="{{ item['rows'] | default(5) }}"
        {% if item['style'] is defined %}
          style="{{ item['style'] }}"
        {% endif %}
        {% if item['placeholder'] is defined %}
          placeholder="{{ item['placeholder'] }}"
        {% endif %}
        {% if item['pattern'] is defined %}
          pattern="{{ item['pattern'] }}"
        {% endif %}
        {% if item['title'] is defined %}
          placeholder="{{ item['title'] }}"
        {% endif %}
        {% if item['size'] is defined %}
          size="{{ item['size'] }}"
        {% endif %}
        {% if item['required'] is defined %}
          required="{{item['required']}}" }}"
        {% endif %}
        cols="{{ item['columns'] | default(50)}}"
       >{% if requestargs['extravar' ~ item['var-name']] is defined %}{{ requestargs['extravar' ~ item['var-name']] }}{% else %}{{ item['default'] | default("") }}{% endif %}</textarea>
      </div>
     </div>
     {% endif %}

     {% if item['type']=='textarea-mid' %}
     <div class="likeatablerow">
      <div class="likeatablemiddle">
        {% if item['required'] is defined and item['required']%}
        <b class='required'>(required)</b>
        {% endif %}
        <h4 style="text-align:left;width:max-content;"> {{ item['friendly-name']|safe }} </h4>
      </div>
      <br>
     <div class="likeatablemiddle">
       <textarea
        {% if item['pattern'] is defined %}
          pattern="{{ item['pattern'] }}"
        {% endif %}
        {% if item['onchange'] is defined %}
          onchange="{{ item['onchange'] }}"
        {% endif %}
        id="extravar{{ item['var-name'] }}"
        name="extravar{{ item['var-name'] }}"
        rows="{{ item['rows'] | default(5) }}"
        {% if item['style'] is defined %}
          style="{{ item['style'] }}"
        {% endif %}
        {% if item['placeholder'] is defined %}
          placeholder="{{ item['placeholder'] }}"
        {% endif %}
        {% if item['pattern'] is defined %}
          pattern="{{ item['pattern'] }}"
        {% endif %}
        {% if item['title'] is defined %}
          placeholder="{{ item['title'] }}"
        {% endif %}
        {% if item['size'] is defined %}
          size="{{ item['size'] }}"
        {% endif %}
        {% if item['required'] is defined %}
          required="{{item['required']}}" }}"
        {% endif %}
        cols="{{ item['columns'] | default(50)}}"
       >{{ item['default'] | default("") }}</textarea>
      </div>
     </div>
     {% endif %}

     {% if item['type']=='awx-instancegroup' %}
     <div class="likeatablerow">
       <div class="likeatableleft">
       {% if item['required'] is defined and item['required']%}
       <b class='required'>(required)</b>
       {% endif %}
         {{ item['friendly-name']|safe }}
       </div>
       <div class="likeatableright">
         <select style="{{ item['style'] }}"
          {% if item['title'] is defined %}
            placeholder="{{ item['title'] }}"
          {% endif %}
          {% if item['onchange'] is defined %}
             onchange="{{ item['onchange'] }}"
          {% endif %}
          {% if item['placeholder'] is defined %}
            placeholder="{{ item['placeholder'] }}"
          {% endif %}
          {% if item['multiple'] is defined %}
            multiple
          {% endif %}
           id="awxinstancegroup"
           name="awxinstancegroup"
          >
     {% for subitem in item['options'] %}
       <option value='{{subitem["value"]}}'>{{subitem["title"]|default(subitem["value"])}}</option>
     {% endfor %}
   </select></div></div>

     {% endif%}

     {% if item['type']=='awx-credential' %}
     <div class="likeatablerow">
       <div class="likeatableleft">
       {% if item['required'] is defined and item['required']%}
       <b class='required'>(required)</b>
       {% endif %}
         {{ item['friendly-name']|safe }}
       </div>
       <div class="likeatableright">
         <select style="{{ item['style'] }}"
          {% if item['title'] is defined %}
            placeholder="{{ item['title'] }}"
          {% endif %}
          {% if item['onchange'] is defined %}
             onchange="{{ item['onchange'] }}"
          {% endif %}
          {% if item['placeholder'] is defined %}
            placeholder="{{ item['placeholder'] }}"
          {% endif %}
          {% if item['multiple'] is defined %}
            multiple
          {% endif %}
           id="awxjobcredentials"
           name="awxjobcredentials"
          >
     {% for subitem in item['options'] %}
       <option value='{{subitem["value"]}}'>{{subitem["title"]|default(subitem["value"])}}</option>
     {% endfor %}
   </select></div></div>

     {% endif%}

    {% if item['type']=='awx-job-types' %}
     <div class="likeatablerow">
       <div class="likeatableleft">
       {% if item['required'] is defined and item['required']%}
       <b class='required'>(required)</b>
       {% endif %}
         {{ item['friendly-name']|safe }}
       </div>
       <div class="likeatableright">
         <select style="{{ item['style'] }}"
          {% if item['title'] is defined %}
            placeholder="{{ item['title'] }}"
          {% endif %}
          {% if item['onchange'] is defined %}
             onchange="{{ item['onchange'] }}"
          {% endif %}
          {% if item['placeholder'] is defined %}
            placeholder="{{ item['placeholder'] }}"
          {% endif %}
          {% if item['multiple'] is defined %}
            multiple
          {% endif %}
           id="awxjobtypes"
           name="awxjobtypes"
          >
            <option value="check" selected="selected">check</option>
            <option value="run">run</option>
   </select></div></div>

     {% endif %}

     {% if item['type']=='awx-job-tags' %}
     <div class="likeatablerow">
       <div class="likeatableleft">
       {% if item['required'] is defined and item['required']%}
       <b class='required'>(required)</b>
       {% endif %}
         {{ item['friendly-name']|safe }}
       </div>
       <div class="likeatableright">
         <input type="text" id="awxjobtags"
        {% if item['required'] is defined %}
          required="{{item['required']}}" }}"
        {% endif %}
           name="awxjobtags">
       </div>
     </div>
     {% endif%}
     {% if item['type']=='awx-job-skip-tags' %}
     <div class="likeatablerow">
       <div class="likeatableleft">
         {{ item['friendly-name']|safe }}
       </div>
       <div class="likeatableright">
         <input type="text" id="awxjobskiptags"
        {% if item['required'] is defined %}
          required="{{item['required']}}" }}"
        {% endif %}
        name="awxjobskiptags">
       </div>
     </div>
     {% endif%}
     {% if item['type']=='select' %}
     <div class="likeatablerow">
       <div class="likeatableleft">
       {% if item['required'] is defined and item['required']%}
       <b class='required'>(required)</b>
       {% endif %}
         {{ item['friendly-name']|safe }}
       </div>
       <div class="likeatableright">
         <select style="{{ item['style'] }}"
          {% if item['placeholder'] is defined %}
            placeholder="{{ item['placeholder'] }}"
          {% endif %}
          {% if item['onchange'] is defined %}
             onchange="{{ item['onchange'] }}"
          {% endif %}
          {% if item['title'] is defined %}
            placeholder="{{ item['title'] }}"
          {% endif %}
           id="extravar{{ item['var-name'] }}"
           name="extravar{{ item['var-name'] }}"
          >
     {% for subitem in item['options'] %}
       <option value='{{subitem["value"]}}' {% if requestargs['extravar' ~ item['var-name']] is defined and requestargs['extravar' ~ item['var-name']] == subitem['value'] %}selected{% endif %}>{{subitem["title"]|default(subitem["value"])}}</option>
     {% endfor %}
   </select></div></div>

     {% endif %}
     {% if item['type']=='checkbox' %}
     <div class="likeatablerow">
       <div class="likeatableleft">
       {% if item['required'] is defined and item['required']%}
       <b class='required'>(required)</b>
       {% endif %}
         <label for="extravar{{ item['var-name'] }}">
         {{ item['friendly-name']|safe }}
         </label>
       </div>
       <div class="likeatableright">
         <input type='checkbox' style="{{ item['style'] }}"
           id="extravar{{ item['var-name'] }}"
           name="extravar{{ item['var-name'] }}"
          {% if item['checked'] is defined and item['checked'] %}
             checked
          {% endif %}
          >
   </div></div>

     {% endif %}
     {% if item['type']=='datalist' %}
     <div class="likeatablerow">
       <div class="likeatableleft">
       {% if item['required'] is defined and item['required']%}
       <b class='required'>(required)</b>
       {% endif %}
         {{ item['friendly-name']|safe }}
       </div>
       <div class="likeatableright">
         <input list="extravar{{ item['var-name'] }}dl" id="extravar{{ item['var-name'] }}" name="extravar{{ item['var-name'] }}" style="{{ item['style'] }}"
          {% if item['placeholder'] is defined %}
            placeholder="{{ item['placeholder'] }}"
          {% endif %}
          {% if item['size'] is defined %}
            size="{{ item['size'] }}"
          {% endif %}
          {% if item['onchange'] is defined %}
             onchange="{{ item['onchange'] }}"
          {% endif %}
          {% if item['title'] is defined %}
            placeholder="{{ item['title'] }}"
          {% endif %}
         >
         <datalist style="{{ item['style'] }}"
          {% if item['placeholder'] is defined %}
            placeholder="{{ item['placeholder'] }}"
          {% endif %}
          {% if item['title'] is defined %}
            placeholder="{{ item['title'] }}"
          {% endif %}
           id="extravar{{ item['var-name'] }}dl"
           name="extravar{{ item['var-name'] }}dl"
          >
     {% for subitem in item['options'] %}
       <option value='{{subitem["value"]}}'>{{subitem["title"]|default(subitem["value"])}}</option>
     {% endfor %}
   </datalist></div></div>

     {% endif %}
     {% if item['type']=='snowapp' %}
     <script type="text/javascript" src="{{URLPREFACE or ""}}{{ url_for('static',filename='js/jquery.min.js') }}"></script>
     <script src="{{URLPREFACE or ""}}/static/js/snowappsearch.js"></script>
     <input type="hidden" id="invisiblecsrf" value="{{ csrf_token() if csrf_token else '' }}">
     <div class="likeatablerow">
       <div class="likeatableleft">
       {% if item['required'] is defined and item['required']%}
       <b class='required'>(required)</b>
       {% endif %}
         {{ item['friendly-name']|safe }}
       </div>
       <div class="likeatableright">
  <div class='autocomplete'>
    <div>
        <input type="text" id="txt_search" name="extravar{{ item['var-name'] }}" autocomplete="off"
      {% if item['required'] is defined %}
        required="{{item['required']}}"
      {% endif %}

         >
    </div>
    <ul id="searchResult"></ul>

    <div class="clear"></div>
   </div>
   </div></div>
     {% endif %}
     {% if item['type']=='snowgroup' %}
     <script type="text/javascript" src="{{URLPREFACE or ""}}{{ url_for('static',filename='js/jquery.min.js') }}"></script>
     <script src="{{URLPREFACE or ""}}/static/js/snowgroupsearch.js"></script>
     <input type="hidden" id="snowgroupfilenumeric" value="{{ item['file-number'] }}">
     <input type="hidden" id="extravar_ab_CHANGEME_portal_extra_snowmembersysid" name="extravar_ab_CHANGEME_portal_extra_snowmembersysid" value="">
     <input type="hidden" id="extravar_ab_CHANGEME_portal_extra_snowmemberusername" name="extravar_ab_CHANGEME_portal_extra_snowmemberusername" value="">
     <input type="hidden" id="invisiblecsrf" value="{{ csrf_token() if csrf_token else '' }}">
     <div class="likeatablerow">
       <div class="likeatableleft">
       {% if item['required'] is defined and item['required']%}
       <b class='required'>(required)</b>
       {% endif %}
         {{ item['friendly-name']|safe }}
       </div>
       <div class="likeatableright">
  <div class='autocomplete'>
    <div>
        <input type="text" id="txt_searchGroup" name="extravar{{ item['var-name'] }}" autocomplete="off"
      {% if item['required'] is defined %}
        required="{{item['required']}}"
      {% endif %}

         >
    </div>
    <ul id="searchResultGroup"></ul>

    <div class="clear"></div>
   </div>
   </div></div>
     {% endif %}

   {% endfor %}
  <br>
  </div>
  <input type="submit" id="submit-button" value="Submit">
{% if requestargs is defined and requestargs != {} %}
<br>
<b class="redwarning">You are using a version of this form with pre-filled options. Please review them for accuracy before submitting!</b>
<br>
{% endif %}
  <br>
  <br>
  <br>
  </center>
  </div>
      {% if jobdata['javascript-files-tail'] is defined and jobdata['javascript-files-tail']|length > 0 %}
        {% for item in jobdata['javascript-files-tail'] %}
          <script src="{{URLPREFACE or ""}}/static/js/{{item}}"></script>
        {% endfor %}
      {% endif %}

      <script src="{{URLPREFACE or ""}}/static/js/form_submit_events.js"></script>
{% include "jobfooter.html" %}
  </body>
</html>
