<!DOCTYPE html>
<html>
    <head>
        <title>CHANGEME</title>
<link rel="stylesheet" href="{{URLPREFACE or ""}}{{ url_for('static', filename='css/newui.css') }}">
<link rel="stylesheet" href="{{URLPREFACE or ""}}{{ url_for('static', filename='css/joblist.css') }}">
    </head>
    <body>
{% include "header.html" %}
<br><br>
      <div class='normalone'>
       <center>
This content is unavailable. <a href='/'>Return home</a>
<br><br>
      </div>
</center>
    </body>
      <script src="{{URLPREFACE or ""}}/static/js/joblist.js"></script>
</html>
