<!DOCTYPE html>
<html>
    <head>
        <title>CHANGEME</title>
<link rel="stylesheet" href="{{URLPREFACE or ""}}{{ url_for('static', filename='css/newui.css') }}">
    </head>
    <body>
{% include "header.html" %}
      <div class='normalone'>
        {% if userlinks is defined and userlinks|length == 0 %}
        You don't appear to have access to any jobs. Please contact <a href="mailto:CHANGEME@CHANGEME.com">CHANGEME@CHANGEME.com</a> to help you and provide what jobs you are expecting to see.
        {% endif %}
        <br>
        <div style='position: absolute; right: 8px; margin:0;'><input type="text" id="searchInput" placeholder="Type to filter jobs..." /></div>
        {% for category in userlinks %}
        <div class='cardheader filterable category_{{category.replace(' ','_') | lower}}'>{{category}}</div>
        <div class="grid filterable">
        {% for item in userlinks[category] %}
          <div class="card filterable" data-tags="{{ item['tags']|join(',') }}">
          <a class='nodecoration cardlink' href='{{item['endpoint']}}'>
            <div class="icon"><img class='jobicon' src='{{URLPREFACE or ""}}{{ url_for('static', filename='images/icons/') }}{{item['icon']}}'></div>
            <div class="card-content">
            <div class="title">{{item['friendlyname'] }}</div>
            <div class="description">{{item['short-description']}}</div>
            </div>
            </a>
            <div class="tags">
              {% for tag in item['tags']|sort %}
              <span class="tag {{tag}}" title="Toggle '{{tag}}' tagged jobs">{{tag}}</span>
              {% endfor %}
            </div>
        </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <div>
      <script src="{{URLPREFACE or ""}}/static/js/index1.js"></script>
      <script src="{{URLPREFACE or ""}}/static/js/index2.js"></script>
    </body>
</html>
