<!DOCTYPE html>
<html>
    <head>
        <title>CHANGEME</title>
    </head>
    <body>
{% include "headernotimer.html" %}
<br><br><br>
    <center>
      <div class='normalone'>
        <form id="userform" action="{{URLPREFACE or ""}}/dologin" method="post">
        Login
        <table>
          <tr><td><input type="hidden" name="redirecturl" id="redirecturl" value="{{redirecturl}}"></td><td></td></tr>
          <tr><td>Username:</td><td><input type="text" name="ldusername" autocomplete="off" autofill="off"></td></tr>
          <tr><td>Password:</td><td><input type="password" name="ldpassword" autocomplete="off" autofill="off"></td></tr>
          <tr><td></td><td><input type="hidden" name="csrf_token" value="{{ csrf_token() if csrf_token else '' }}"/></td></tr>
          <tr><td></td><td><input type="submit" value="Submit"></td></tr>

        </table>
      {% if errors is defined %}
          <br><div class="loginerrors">{{errors}}<br></div>
      {% endif %}
      {% if userinfo is defined %}
          <br><div class="logininfo">{{userinfo}}<br></div>
      {% endif %}


        </form>
      <script src="{{URLPREFACE or ""}}/static/js/login.js"></script>
      
      <div>
      </center>
    </body>
</html>
