<!DOCTYPE html>
<html>
    <head>
        <title>CHANGEME</title>
    </head>
    <body data-urlpreface="{{URLPREFACE or ""}}" data-jobid="{{jobid or ""}}">
{% include "header.html" %}
<br>
<br>
<div class="viewjobbar">
<div id="scrollfollower" class="cat action">
    <label><input type="checkbox" id="stayOnBottom" checked/> <span style='width:100%'>Auto-scroll</span></label>
</div>
    <div id="jobcancel" class="cat2 action jobcancel" style="display:inline-block">
    <form id="jobcanceller" action="{{URLPREFACE or ""}}/canceljobawx" method="post">
      <input type="hidden" id="jobid" name="jobid" value="{{jobid}}">
      <input type="submit" class="cancelbutton vertical-center" value="Cancel job {{jobid}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() if csrf_token else '' }}"/>
    </form>
    </div>
</div>
<br>
<div class="mainbody">
<center>

  <div class="joboutput" id="liveData">

    <div id="jobstatus"></div>
    <div id="warningdiv"></div>
    <br>
    <div id="spinthing"></div>
    <div id="load_jobdata">One moment please...</div>
      <script type="text/javascript" src="{{URLPREFACE or ""}}{{ url_for('static',filename='js/jquery.min.js') }}"></script>
      <script src="{{URLPREFACE or ""}}/static/js/viewrunjob1.js"></script>
  </div>
  <br>
  </center>
  </div>
      <script src="{{URLPREFACE or ""}}/static/js/luckysevens.js"></script>
      <script src="{{URLPREFACE or ""}}/static/js/copybutton.js"></script>
</body>
</html>
