.navbar-items {
flex-shrink: 0;
    display: flex;
    align-items: center;
    transition: transform .5s;
text-align: center;
margin-left: auto;
margin-right: auto;
}
hr.justblack {
  border-top: 1px solid rgba(136, 144, 195, 0.2);
}
.navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 40px;
    background: #fff;
    z-index: 100;
    padding: 0 24px;
    background-color: #1CHANGEME9c !important;
}
.navbar-content {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: #fff;
}
a.navbarlink {
color: #fff;
}

a.navbarlink:hover {
color: #fff !important;
}

.mainbody {
margin-left: auto;
margin-right: auto;
text-align: center;
}

.portalform {
padding: 8px;
}

th, td {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.joboutput {
  background-color:#fff;
  text-align:left;
  margin-left:1em;

}

h1 {
  color:#000 !important;
}
.black {
  color:#000 !important;
}
.normalone {
  color:#000 !important;
}
.portallogo {
  color:#fff !important;
}
.likeatable {
  display: table;
}
.likeatablerow  {
  display: table-row;
}

.likeatableleft, .likeatableright, .likeatablemiddle {
  display: inline-block;
  padding: 8px;
  width: 50%;
}
.likeatableright {
text-align: left;
}
.likeatableleft {
text-align: right;
}
.required {
color: #e74c3c;
}
.loginerrors {
color: #e74c3c;
margin-left:auto;
margin-right:auto;
}
.logininfo {
color: black;
margin-left:auto;
margin-right:auto;
}
#text{
max-width:100% !important;
}
.bottomright {
    position: fixed;
    bottom: 4px;
    right: 4px;
    font-size: .75em;
    color: rgb(0,0,0, 0.33);
}
.leftloader {
  border: 8px solid #bdc3c7; 
  border-top: 8px solid #1CHANGEME9c;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loadwaiter {
margin-left: auto;
margin-right: auto;
text-align: center;
}
.load_jobdata {
margin-left: auto;
margin-right: auto;
text-align: center;

}
.categorytitle {
display: inline-block;
padding:16px;
margin:16px;
/*border: 1px solid;*/
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
border-radius: 8px;
max-width:25%;
width:25%;
}
.lineheightener {
line-height:8px;
}
.greenheader {
color: #1CHANGEME9c;
line-height:0;
text-align:left;
margin-left:8px;
}
.linkbox {
padding:16px;
margin:16px;
display: inline-block;
/*border: 1px solid;*/
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
border-radius: 8px;
}
.helperdiv {
background-color: #ffeaa7;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
padding:16px;
max-width:max-content;
}
.infodiv {
background-color: #4bcffa;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
padding:16px;
}
.sessionoverlay {
    background: #bdc3c7;
    z-index: 2;
    position: fixed;
    top: 20px;
}

.confirm-box {
    position: fixed;
    width: 25%;
    height: 10em;
    top: 40%;
    left: 40%;
    text-align: center;
    background: #fff;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.close {
cursor: pointer;
}
.center-screen {
}

.section_our_solution  {
  align-items: center;
}

.our_solution_category {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
}
.solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 200px;
  max-width: 256px;
  min-width: 200px;
  transition: 0.7s;
  display: inline-block;
  color: #000;
}

.solution_card:hover {
  background: #309df0;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}

.solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_card:hover .solu_title h3,
.solution_card:hover .solu_description p {
  color: #fff;
}

.solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}

.solution_card .so_top_icon {
}

.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
  cursor: pointer;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.our_solution_content p {
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_card .so_top_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid rgba(0, 0, 0, 0.4);
}

.solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}


a.fill-div {
    width: 100%;
    text-decoration: none;
}
.solution_card a {
color: #000;
}
.clear{
    clear:both;
    margin-top: 20px;
}
.autocomplete{
    width: 250px;
    position: relative;
}
.autocomplete #searchResult{
    list-style: none;
    padding: 0px;
    width: 100%;
    position: absolute;
    margin: 0;
    background: white;
    max-height: 320px;
    overflow-y: auto;
}

.autocomplete #searchResult li{
    background: #F2F3F4;
    padding: 4px;
    margin-bottom: 1px;
}

.autocomplete #searchResult li:nth-child(even){
    background: #E5E7E9;
    color: black;
}

.autocomplete #searchResult li:hover{
    cursor: pointer ;
    background: #CACFD2;
}

.autocomplete input[type=text]{
    padding: 5px;
    width: 100%;
}

#searchResultGroup{
    list-style: none;
    padding: 0px;
    width: 320px;
    position: absolute;
    margin: 0;
    background: white;
    max-height: 320px;
    overflow-y: auto;
}

#searchResultGroup li{
    background: #F2F3F4;
    padding: 4px;
    margin-bottom: 1px;
}

#searchResultGroup li:nth-child(even){
    background: #E5E7E9;
    color: black;
}

#searchResultGroup li:hover{
    cursor: pointer ;
    background: #CACFD2;
}

.cat{
  margin: 4px;
  background-color: #1CHANGEME9c;
  border-radius: 4px;
  border: 1px solid #fff;
  overflow: hidden;
  width:128px;
}

.cat2 {
  margin: 4px;
  background-color: #1CHANGEME9c;
  border-radius: 4px;
  border: 1px solid #fff;
  overflow: hidden;
}

.cat label {
  float: left; line-height: 2.0em;
  width: 8.0em; height: 2.0em;
}

.cat label span {
  text-align: center;
  padding: 3px 0;
  display: inline-block;
}

.cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.cat label input + span{color: #fff;}


/* This will declare how a selected input will look giving generic properties */
.cat input:checked + span {
    color: #ffffff;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}


/*
This following statements selects each category individually that contains an input element that is a checkbox and is checked (or selected) and chabges the background color of the span element.
*/

.action input:checked + span{background-color: #0097e6;}

p.nopbreak {
display: inline;
}

.awxstatusfinished{
color: #2ecc71;
font-weight: bold;
}

.awxstatussuccessful{
color: #2ecc71;
font-weight: bold;
}

.awxstatusfailed{
color: #e74c3c;
font-weight: bold;
}

.awxstatuspending {
color: #f1c40f;
font-weight: bold;
}

.awxstatuswaiting {
color: #f1c40f;
font-weight: bold;
}


.awxstatusrunning {
color: #3498db;
font-weight: bold;
}

.awxstatuscanceled {
color: #9b59b6;
font-weight: bold;
}

.viewjobbar {
display: inline-block;
}

.jobcancel {
display: inline-block;
height:42px;
}

#scrollfollower {
display:inline-block;
}
.cancelbutton {
  background-color: #1CHANGEME9c;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-top:8px;
}

#warningdiv {
font-size:.75em;
}
.blinkme {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: .2;
  }
}

#pageviewers {
  position: fixed;
  bottom: 0px;
  left: 8px;
}

.neonme {
    color: #000;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}

@keyframes rainbow {
  0% { color: red; }
  14% { color: blue; }
  28% { color: gray; }
  42% { color: silver; }
  57% { color: yellow; }
  71% { color: aqua; }
  85% { color: lime; }
  100% { color: purple; }
}

.luckysevens {
  display: inline-block; /* Keeps text inline */
  font-weight: bold; /* Bold text */
}

    /* Apply rainbow animation to each span */
.luckysevens span {
  animation: rainbow 1s linear infinite;
  animation-direction: reverse; 
}

.codeme {
  font-family: "Courier New", Courier, monospace ;
  background-color: #f4f4f5 ;
  color: #111827 ;
  border: 1px solid #d1d5db ; /* light border */
  border-radius: 0.5rem ; /* rounded corners */
  padding: 1rem ;
  margin: 1rem 0 ;
  overflow-x: auto ; /* horizontal scroll if needed */
  white-space: pre ; /* preserve whitespace */
  line-height: 1.4 ;
  display: inline-block;
  position: relative;
  min-width: 128px;
}

.copy-button {
  padding: 0.25rem 0.6rem;
  font-size: 0.75rem;
  font-weight: bold;
  border: none;
  background-color: #e5e7eb;
  color: #111827;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  position: absolute;
  right: 4px;
  top: 4px;
}

.copy-button:hover {
  background-color: #d1d5db;
}

.copy-button:active {
  background-color: #cbd5e1;
}

.copy-button:focus {
  border: none !important;
  outline: none !important;
}

.code-block {
  margin-top: 12px;
}
.redwarning {
  color: #e74c3c !important;
}

#resultsTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

#resultsTable td, #resultsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#resultsTable tr:nth-child(even){background-color: #f2f2f2;}

#resultsTable tr:hover {background-color: #ddd;}

#resultsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(26, 188, 156);
  color: white;
}

.jobrundiv {
display: inline-block;
border: 1px solid #000;
background: #fff;
padding: 8px;
vertical-align: top;
}
